* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #fc556f;
$secondary-color: #fd9c84;
$gradient: linear-gradient(to right, $primary-color, $secondary-color);

// Cái mixin dùng cho reponsive web
@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  /* background-color: $body-color; */
  // position: relative;
  // background-color: #f3f3f3;
  // padding: 5rem;
}

html {
  font-size: 62.5%;
}

.clear {
  clear: both;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/*Bỏ đấu chấm của thẻ li*/
li {
  list-style-type: none;
}
