@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  /* background-color: $body-color; */
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.clear {
  clear: both;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/*Bỏ đấu chấm của thẻ li*/
li {
  list-style-type: none;
}

.pb--50 {
  padding-bottom: 5rem;
}

.mb--30 {
  margin-bottom: 3rem;
}

.ptb--120 {
  padding: 12rem 0;
}

.bg_color--1 {
  background-color: #ffffff;
}

.bg_image--3 {
  background-image: url(../img/bg-image-3.jpg) !important;
}

.bg-gray {
  background: #f6f6f6;
}

.bg_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header {
  padding: 0 5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}
.header .header__container {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.header .header__left .header__logo img {
  max-height: 6rem;
}
.header .header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.header .header__right .mainmenu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 0;
}
.header .header__right .mainmenu li:first-child {
  margin-left: 0;
}
.header .header__right .mainmenu li {
  margin: 0 1.5rem;
  position: relative;
}
.header .header__right .mainmenu li a {
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 20px 0;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header .header__right .mainmenu li:hover {
  cursor: pointer;
}
.header .header__right .mainmenu li:hover a {
  color: #fd4766;
}
.header .header__right .mainmenu .menu-dropdown:hover .submenu {
  opacity: 1;
  visibility: visible;
}
.header .header__right .mainmenu ul.submenu {
  min-width: 240px;
  height: auto;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 12px 0;
  border-radius: 4px;
}
.header .header__right .mainmenu ul.submenu li:first-child {
  max-width: 21rem;
  margin-left: 1.4rem;
}
.header .header__right .mainmenu ul.submenu li a {
  font-weight: 500;
  padding: 5px 15px;
  font-size: 14px;
  display: block;
  color: #1f1f25;
  margin: 0 3px;
  border-radius: 3px;
  width: 100%;
}
.header .header__right .mainmenu ul.submenu a:hover {
  color: #fd4766;
  background-color: rgba(253, 71, 102, 0.1);
}
.header .header__right .header-btn {
  margin-left: 2.5rem;
}
.header .header__right .header-btn .btn-default {
  display: inline-block;
  color: #fff;
  background-color: transparent;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.6rem 4rem;
  border-radius: 50rem;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  border: 2px solid #ffffff33;
}
.header .header__right .header-btn .btn-default:hover {
  background-color: #fd4766;
  border-color: transparent;
}

.slider ol.carousel-indicators {
  margin-bottom: 5.5rem;
}
.slider ol.carousel-indicators li {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  margin: 0 0.9rem;
  background-color: #999;
  cursor: default;
}
.slider ol.carousel-indicators .active {
  box-shadow: inset 0 0 0 1px #fd4766;
  animation: 600ms ease-in-out 0s normal none 1 running fadeInOut;
}
.slider .carousel-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  bottom: 50%;
  transform: translateY(50%);
}
.slider .carousel-caption p.carousel-desc {
  font-size: 2.2rem;
  line-height: 4rem;
  margin: 0;
  padding: 0 8rem;
  font-weight: 300;
  animation: 1000ms ease-in-out 0s normal none 1 running fadeInUp;
}
.slider .carousel-caption h1.carousel-title {
  font-size: 9.5rem;
  font-weight: 900;
  margin: 16.5rem 0 2rem;
  animation: 800ms ease-in-out 0s normal none 1 running fadeInUp;
}
.slider .carousel-item {
  height: 72rem;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider .carousel-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.slider .carousel-item-1 {
  background-image: url(../img/bg-image-22.jpg);
}
.slider .carousel-item-2 {
  background-image: url(../img/bg-image-23.jpg);
}
.slider .carousel-item-3 {
  background-image: url(../img/bg-image-24.jpg);
}
.slider .carousel-item-4 {
  background-image: url(../img/bg-image-20.jpg);
}
.slider .carousel-btn {
  margin: 6.2rem 0 9.1rem;
  animation: 1200ms ease-in-out 0s normal none 1 running fadeInUp;
}
.slider .carousel-btn .btn-slider {
  display: inline-block;
  color: #fff;
  background-color: #fd4766;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.6rem 4rem;
  border-radius: 50rem;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  border: 2px solid transparent;
}
.slider .carousel-btn .btn-slider:hover {
  color: #fd4766;
  background-color: transparent;
  border-color: #fd4766;
}

.service .service__subtitle {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%, #fd4766 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.service .service__title {
  font-size: 5rem;
  font-weight: 500;
  line-height: 6.2rem;
  margin-bottom: 2rem;
}
.service .service__desc {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #1d1d24bf;
}
.service .service__main a.service__link {
  transition: all 0.4s ease-in-out 0s;
  text-decoration: none;
}
.service .service__item:first-child .service__main-icon {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.3rem;
  border-radius: 100%;
  color: #fd4766;
}
.service .service__item:first-child .service__main-icon svg {
  stroke-width: 1 !important;
  width: 4.7rem;
  height: 4.7rem;
}
.service .service__item:nth-child(2) .service__main-icon {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.3rem;
  border-radius: 100%;
  color: #337dff;
}
.service .service__item:nth-child(2) .service__main-icon svg {
  stroke-width: 1 !important;
  width: 4.7rem;
  height: 4.7rem;
}
.service .service__item:nth-child(3) .service__main-icon {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.3rem;
  border-radius: 100%;
  color: #12d8df;
}
.service .service__item:nth-child(3) .service__main-icon svg {
  stroke-width: 1 !important;
  width: 4.7rem;
  height: 4.7rem;
}
.service .service__item:nth-child(4) .service__main-icon {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.3rem;
  border-radius: 100%;
  color: #59c98d;
}
.service .service__item:nth-child(4) .service__main-icon svg {
  stroke-width: 1 !important;
  width: 4.7rem;
  height: 4.7rem;
}
.service .service__item:nth-child(5) .service__main-icon {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.3rem;
  border-radius: 100%;
  color: #6f41f6;
}
.service .service__item:nth-child(5) .service__main-icon svg {
  stroke-width: 1 !important;
  width: 4.7rem;
  height: 4.7rem;
}
.service .service__item:last-child .service__main-icon {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.3rem;
  border-radius: 100%;
  color: #357ff6;
}
.service .service__item:last-child .service__main-icon svg {
  stroke-width: 1 !important;
  width: 4.7rem;
  height: 4.7rem;
}
.service .service__main-item {
  padding: 4rem 3rem;
  margin-top: 2.8rem;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1), box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  z-index: 2;
  border-radius: 1rem;
}
.service .service__main-item .service__main-title {
  margin-bottom: 1.9rem;
  font-weight: 500;
  font-size: 2rem;
  color: #1f1f25;
}
.service .service__main-item p {
  color: #1d1d24bf;
  font-size: 1.6rem;
  line-height: 1.7;
  margin: 0;
}
.service .service__main-item:hover {
  box-shadow: 0px 2px 70px 0px rgba(253, 71, 102, 0.05);
  transform: translateY(-5px);
}

.portfolio .portfolio__subtitle {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%, #fd4766 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.portfolio .portfolio__title {
  font-size: 5rem;
  font-weight: 500;
  line-height: 6.2rem;
  margin-bottom: 2rem;
}
.portfolio .portfolio__desc {
  font-size: 1.8rem;
  line-height: 3rem;
  padding: 0 17rem;
  font-weight: 300;
  color: #717173;
}

.blog .blog__subtitle {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%, #fd4766 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.blog .blog__title {
  font-size: 5rem;
  font-weight: 500;
  line-height: 6.2rem;
  margin-bottom: 2rem;
}
.blog .blog__desc {
  font-size: 1.8rem;
  line-height: 3rem;
  padding: 0 17rem;
  font-weight: 300;
  color: #717173;
}

.brand .brand__subtitle {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%, #fd4766 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.brand .brand__title {
  font-size: 5rem;
  font-weight: 500;
  line-height: 6.2rem;
  margin-bottom: 2rem;
}
.brand .brand__desc {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #1d1d24bf;
}

@keyframes fadeInUp {
  from {
    transform: translateY(40%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeInOut {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 0 1.5rem;
  }
  .header .header__left .header__logo img {
    max-height: 4rem;
  }
  .header .header__right {
    margin-left: auto;
  }
  .header .header__right .header-btn .btn-default {
    font-size: 14px;
    letter-spacing: 0;
    padding: 7px 16px;
  }
  .header .header__right .humberger-menu {
    margin-left: 1rem;
  }

  .portfolio .portfolio__desc {
    padding: 0;
  }

  .blog .blog__desc {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
